<!-- Footer -->

<footer class="sci">
        <a href="https://www.facebook.com/"><img src="images/facebook.png" alt="Facebook"></a>
    
        <a href="https://twitter.com/"><img src="images/twitter.png" alt="Twitter"></a>
   
        <a href="https://www.linkedin.com/in/enmanuel-marte-00676116/"><img src="images/linkedin.png" alt="Linkedin"></a>
    
        <a href="https://github.com/lscarfacel"><img src="images/github.png" alt="Github"></a>
    
        <a href="https://jsfiddle.net/user/lscarfacel/fiddles/"><img src="images/jsfiddle.png" alt="JSfiddle"></a>
   
        <a href="https://www.codecademy.com/profiles/lscarfacel"><img src="images/codecademy.png" alt="Codecademy"></a>

        <a href="https://validator.w3.org/check?uri="><img src="images/html5.png" alt="w3c html5"></a>

        <a href="https://jigsaw.w3.org/css-validator/check/referer?uri="><img src="images/css.png" alt="w3c css"></a>
        
        <script>
          document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
          document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
        </script>

        <p>&copy; CLT Codes 2022</p>
  </footer>

