<div id="navigation">
        <ul>
            <li><a href="https://lscarfacel.github.io/web215/index.html">Home</a></li>
            <li><a href="https://lscarfacel.github.io/web215/introduction.html">Introduction</a></li>
            <li><a href="https://lscarfacel.github.io/web215/contract.html">Contract</a></li>
            <li><a href="https://lscarfacel.github.io/web215/brandboard.html">Brand Guide</a></li>
            <li><a href="https://lscarfacel.github.io/web215/introduction_form.html">Intro Form</a></li>
            <!-- <li><a href="#">Portfolio</a></li>
            <li><a href="#">Contact</a></li> -->
        </ul>
    </div>

    <script>
        function toggle(){
            var sec = document.getElementById('sec');
            var nav = document.getElementById('navigation');
            sec.classList.toggle('active');
            nav.classList.toggle('active');
        }
    </script>